In [ ]:
Импорты

In [18]:
import pandas as pd
import numpy as np

Константные переменные

In [66]:
INDEX_COL = 0
AVERAGE_BILL = "average_bill"
AVERAGE_BILL_FILLNA =  "average_bill_filna"
RUBRIC = "rubric"

In [51]:
data = pd.read_csv("datasets_eat_places.csv", index_col=INDEX_COL)

In [39]:
data

,org_id,city,average_bill,rating,rubric,coffee_to_go,food_delivery,breakfast,summer_terrace,wi_fi,business_lunch,payment_by_credit_card,car_park,gift_certificate,karaoke,free_delivery,music,pets,air_conditioning,view_on_ostankino_tower
1,16076540698036998306,msk,500.0,4.375000,Быстрое питание,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0
2,8129364761615040323,msk,500.0,4.000000,Кофейня,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0
4,13418544315327784420,msk,500.0,4.409091,Кофейня,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0
5,4997872545011433005,msk,500.0,4.541667,Кофейня,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1
8,11913692756639492916,spb,500.0,3.600000,Столовая,0,1,0,1,0,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68333,17936653153885963296,msk,NaN,4.487952,Ресторан,1,1,1,1,1,1,1,0,0,1,0,0,0,0,0
68334,4379286080707082909,msk,NaN,3.812500,Кафе,0,1,0,1,1,1,1,0,1,1,0,0,0,0,0
68335,7916477189329738565,msk,NaN,4.894231,Ресторан,1,1,1,1,0,1,1,0,1,1,1,0,0,0,0
68336,12358902585434046825,msk,NaN,4.156250,Кафе,1,1,1,1,0,1,1,0,1,1,1,0,0,0,0
68338,125079240973229511,spb,NaN,4.633333,Ресторан,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0

Задание номер 2

In [40]:
data.head()

,org_id,city,average_bill,rating,rubric,coffee_to_go,food_delivery,breakfast,summer_terrace,wi_fi,business_lunch,payment_by_credit_card,car_park,gift_certificate,karaoke,free_delivery,music,pets,air_conditioning,view_on_ostankino_tower
1,16076540698036998306,msk,500.0,4.375000,Быстрое питание,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0
2,8129364761615040323,msk,500.0,4.000000,Кофейня,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0
4,13418544315327784420,msk,500.0,4.409091,Кофейня,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0
5,4997872545011433005,msk,500.0,4.541667,Кофейня,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1
8,11913692756639492916,spb,500.0,3.600000,Столовая,0,1,0,1,0,0,1,0,1,0,0,0,0,0,0

In [41]:
counts = 0
for i, j in data.iterrows():
    if j[AVERAGE_BILL] > 2500 or j[AVERAGE_BILL] == np.nan:
        counts += 1
print(counts)

483

In [45]:
data[AVERAGE_BILL]

1        500.0
2        500.0
4        500.0
5        500.0
8        500.0
         ...
68333      NaN
68334      NaN
68335      NaN
68336      NaN
68338      NaN
Name: average_bill, Length: 43195, dtype: float64

In [55]:
data[AVERAGE_BILL_FILLNA] = data[AVERAGE_BILL]
data[AVERAGE_BILL_FILLNA].fillna(0, inplace=True)
avarage_price = sum(data[AVERAGE_BILL_FILLNA] / len(data[AVERAGE_BILL_FILLNA])) #средняя цена

In [56]:
avarage_price

564.3593008449949

In [57]:
data[AVERAGE_BILL].fillna(avarage_price, inplace=True)

In [58]:
data

,org_id,city,average_bill,rating,rubric,coffee_to_go,food_delivery,breakfast,summer_terrace,wi_fi,...,payment_by_credit_card,car_park,gift_certificate,karaoke,free_delivery,music,pets,air_conditioning,view_on_ostankino_tower,average_bill_filna
1,16076540698036998306,msk,500.000000,4.375000,Быстрое питание,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,500.0
2,8129364761615040323,msk,500.000000,4.000000,Кофейня,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,500.0
4,13418544315327784420,msk,500.000000,4.409091,Кофейня,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,500.0
5,4997872545011433005,msk,500.000000,4.541667,Кофейня,1,1,1,1,1,...,1,1,0,0,0,0,0,0,1,500.0
8,11913692756639492916,spb,500.000000,3.600000,Столовая,0,1,0,1,0,...,1,0,1,0,0,0,0,0,0,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68333,17936653153885963296,msk,564.359301,4.487952,Ресторан,1,1,1,1,1,...,1,0,0,1,0,0,0,0,0,0.0
68334,4379286080707082909,msk,564.359301,3.812500,Кафе,0,1,0,1,1,...,1,0,1,1,0,0,0,0,0,0.0
68335,7916477189329738565,msk,564.359301,4.894231,Ресторан,1,1,1,1,0,...,1,0,1,1,1,0,0,0,0,0.0
68336,12358902585434046825,msk,564.359301,4.156250,Кафе,1,1,1,1,0,...,1,0,1,1,1,0,0,0,0,0.0
68338,125079240973229511,spb,564.359301,4.633333,Ресторан,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0.0

Легко заметить посмотрев на предыдущие таблицы, что NaN мы убрали из среднего чека

In [59]:
data[AVERAGE_BILL] = data[AVERAGE_BILL].map(lambda x: avarage_price if (x > 2500) else x)

In [60]:
data

,org_id,city,average_bill,rating,rubric,coffee_to_go,food_delivery,breakfast,summer_terrace,wi_fi,...,payment_by_credit_card,car_park,gift_certificate,karaoke,free_delivery,music,pets,air_conditioning,view_on_ostankino_tower,average_bill_filna
1,16076540698036998306,msk,500.000000,4.375000,Быстрое питание,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,500.0
2,8129364761615040323,msk,500.000000,4.000000,Кофейня,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,500.0
4,13418544315327784420,msk,500.000000,4.409091,Кофейня,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,500.0
5,4997872545011433005,msk,500.000000,4.541667,Кофейня,1,1,1,1,1,...,1,1,0,0,0,0,0,0,1,500.0
8,11913692756639492916,spb,500.000000,3.600000,Столовая,0,1,0,1,0,...,1,0,1,0,0,0,0,0,0,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68333,17936653153885963296,msk,564.359301,4.487952,Ресторан,1,1,1,1,1,...,1,0,0,1,0,0,0,0,0,0.0
68334,4379286080707082909,msk,564.359301,3.812500,Кафе,0,1,0,1,1,...,1,0,1,1,0,0,0,0,0,0.0
68335,7916477189329738565,msk,564.359301,4.894231,Ресторан,1,1,1,1,0,...,1,0,1,1,1,0,0,0,0,0.0
68336,12358902585434046825,msk,564.359301,4.156250,Кафе,1,1,1,1,0,...,1,0,1,1,1,0,0,0,0,0.0
68338,125079240973229511,spb,564.359301,4.633333,Ресторан,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0.0

Заменили в таблице все значения большие 2500 на среднее значение

Задание номер 3

In [64]:
x = data[data["city"] == "msk"]
len(x)

28900

In [65]:
x = data[data["city"] == "spb"]
len(x)

14295

В Москве заведений чем в Санктпербурге

In [67]:
print(set(data[RUBRIC].tolist()))

{'Кальян-бар', 'Бар безалкогольных напитков', 'Булочная, пекарня', 'Столовая', 'Кофе с собой', 'Суши-бар', 'Спортбар', 'Бар, паб', 'Фудкорт', 'Кондитерская', 'Ресторан', 'Кофейня', 'Пиццерия', 'Кафе', 'Быстрое питание'}

In [70]:
print(len(set(data[RUBRIC].tolist())))

15

Всего 15 типо заведений
{'Кальян-бар', 'Бар безалкогольных напитков', 'Булочная, пекарня', 'Столовая', 'Кофе с собой', 'Суши-бар', 'Спортбар', 'Бар, паб', 'Фудкорт', 'Кондитерская', 'Ресторан', 'Кофейня', 'Пиццерия', 'Кафе', 'Быстрое питание'}

In [80]:
print(len(data[(data[RUBRIC] == 'Ресторан') | (data[RUBRIC] == 'Бар, паб')]))

11345

Всег ресторанов и пабов  всумме 11345

In [85]:
data_restoranse = data[(data[RUBRIC] == 'Ресторан') | (data[RUBRIC] == 'Бар, паб')]
print(sum(data_restoranse[AVERAGE_BILL] / len(data_restoranse[AVERAGE_BILL])))

825.0109594017605

средний чек ресторанов и пабов - 825.01